.form_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_container > textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box; /** include padding in width **/
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form_container > input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.submit_container button {
  align-self: flex-end;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form_container .submit_container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
